#window-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.window{
    position: absolute;
    z-index: 1;
    padding: 10px;
    /*will get overwritten by js*/
    height: 400px;
    width: 400px;
    top: 40px;
    left: 400px;
    transition:
        scale 0.1s ease-out,
        opacity 0.1s ease-out;
}

.window-hidden {
    transition: 
        scale 0.2s ease-out,
        opacity 0.1s ease-out,
        left 0.2s ease-out,
        top 0.2s ease-out;
    scale: 0;
    opacity: 0;
}

.inner-window {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.6);
}

.window-header {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: calc(27px - 7px);
    align-items: center;
    padding: 3px;
    height: 27px;
    width: 100%;
    background-color: #e0e0e0;
    /*i ran into weird issues with the border when putting it in .window*/
    border-radius: inherit;
    border-top: 1px;
    border-right: 1px;
    border-left: 1px;
    border-bottom: 0;
    border-style: solid;
    border-color: #bbb;
}

.window-icon {
    height: 20px;
}

.window-title {
    justify-self: center;
}

.window-actions {
    justify-self: end;
    display: flex;
    align-items: center;
}

.window-action {
    width: 16px;
    height: 16px;
    margin: 0 4px;
    border-radius: 100%;
}

.window-action:hover {
    filter: invert();
    background-color: rgb(210, 210, 210);
}

.window-close:hover {
    background-color: rgb(0, 100, 100);
}

.window-content {
    box-sizing: border-box;
    flex-grow: 1;
    background-color: white;
    border-top: 0;
    border-right: 1px;
    border-left: 1px;
    border-bottom: 1px;
    border-style: solid;
    border-color: #bbb;
}