#window-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.window {
    position: absolute;
    padding: 10px;
    /*will get overwritten by js*/
    height: 400px;
    width: 400px;
    top: 40px;
    left: 400px;
    scale: 1;
    opacity: 1;
}

.window-transition {
    transition: scale 0.2s ease-out, opacity 0.15s ease-out, left 0.2s ease-out, top 0.2s ease-out;
}

.window-hidden {
    scale: 0;
    opacity: 0;
}

.window-always-on-top {
    z-index: 10;
}

.inner-window {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.3);
}

.focused {
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.6);
}

.window-header {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20px;
    align-items: center;
    padding: 3px;
    height: 27px;
    width: 100%;
    background-color: #e0e0e0;
    /*i ran into weird issues with the border when putting it in .window*/
    border-radius: inherit;
    border-top: 1px;
    border-right: 1px;
    border-left: 1px;
    border-bottom: 0;
    border-style: solid;
    border-color: #bbb;
}

.window-icon {
    height: 20px;
}

.window-title {
    justify-self: center;
}

.window-actions {
    justify-self: end;
    display: flex;
    align-items: center;
}

.window-action {
    width: 16px;
    height: 16px;
    margin: 0 4px;
    border-radius: 100%;
}

.window-action:hover {
    filter: invert();
    background-color: rgb(210, 210, 210);
}

.window-action:active {
    background-color: rgb(89, 89, 89);
}

.window-close:hover {
    background-color: rgb(0, 100, 100);
}

.window-close:active {
    background-color: rgb(145, 220, 220);
}

.window-content {
    box-sizing: border-box;
    flex-grow: 1;
    background-color: white;
    border-top: 0;
    border-right: 1px;
    border-left: 1px;
    border-bottom: 1px;
    border-style: solid;
    border-color: #bbb;
}