* {
    margin: 0;
    font-family: 'Noto Sans';
}

.hoverable:hover {
    filter: contrast(0.5) brightness(1.3);
}

#taskbar {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    margin: 8px;
    width: calc(100% - 16px);
    height: 44px;
    background-color: rgb(255, 255, 255, 0.8);
    backdrop-filter: blur(20px);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

#apps {
    display: flex;
}

#tray {
    display: flex;
}

.text-normal {
    font-size: 12pt;
}

.text-small {
    font-size: 10pt;
}

.icon {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    width: 52px;
    height: 44px;
}

.tray {

    width: 29px;
    height: 44px;
}

/*
.app-icon {
    padding: 0 3px 3px 3px;
    border-top: solid 3px rgb(165, 165, 165, 0.9);
    background-color: rgba(165, 165, 165, 0.3);
    filter: none;
}
*/

.app img{
    width: 32px;
    height: 32px;
}

.tray img {
    width: 22px;
    height: 22px;
}

#tray-show-hidden {
    width: 27px;
    margin-right: 4px;
}

#tray-hide-windows {
    width: 48px;
    margin-left: 2px;
}

#app-launcher {
    width: 32px;
    margin: 0 8px;
}

#clock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#clock  {
    font-style: normal;
}

/*
#app-launcher {
    padding: 0 3px 3px 3px;
    border-top: solid 3px rgb(61, 174, 233);
    background-color: transparent;
}
*/

#wallpaper-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    background-color: black;
}